@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(/fonts/Inter-Thin.woff2?v=3.15) format("woff2"),
    url(/fonts/Inter-Thin.woff?v=3.15) format("woff");
}
@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(/fonts/Inter-ThinItalic.woff2?v=3.15) format("woff2"),
    url(/fonts/Inter-ThinItalic.woff?v=3.15) format("woff");
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(/fonts/Inter-ExtraLight.woff2?v=3.15) format("woff2"),
    url(/fonts/Inter-ExtraLight.woff?v=3.15) format("woff");
}
@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(/fonts/Inter-ExtraLightItalic.woff2?v=3.15) format("woff2"),
    url(/fonts/Inter-ExtraLightItalic.woff?v=3.15) format("woff");
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/Inter-Light.woff2?v=3.15) format("woff2"),
    url(/fonts/Inter-Light.woff?v=3.15) format("woff");
}
@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/Inter-LightItalic.woff2?v=3.15) format("woff2"),
    url(/fonts/Inter-LightItalic.woff?v=3.15) format("woff");
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Inter-Regular.woff2?v=3.15) format("woff2"),
    url(/fonts/Inter-Regular.woff?v=3.15) format("woff");
}
@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Inter-Italic.woff2?v=3.15) format("woff2"),
    url(/fonts/Inter-Italic.woff?v=3.15) format("woff");
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/Inter-Medium.woff2?v=3.15) format("woff2"),
    url(/fonts/Inter-Medium.woff?v=3.15) format("woff");
}
@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/Inter-MediumItalic.woff2?v=3.15) format("woff2"),
    url(/fonts/Inter-MediumItalic.woff?v=3.15) format("woff");
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/Inter-SemiBold.woff2?v=3.15) format("woff2"),
    url(/fonts/Inter-SemiBold.woff?v=3.15) format("woff");
}
@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/Inter-SemiBoldItalic.woff2?v=3.15) format("woff2"),
    url(/fonts/Inter-SemiBoldItalic.woff?v=3.15) format("woff");
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/Inter-Bold.woff2?v=3.15) format("woff2"),
    url(/fonts/Inter-Bold.woff?v=3.15) format("woff");
}
@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/Inter-BoldItalic.woff2?v=3.15) format("woff2"),
    url(/fonts/Inter-BoldItalic.woff?v=3.15) format("woff");
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/Inter-ExtraBold.woff2?v=3.15) format("woff2"),
    url(/fonts/Inter-ExtraBold.woff?v=3.15) format("woff");
}
@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/Inter-ExtraBoldItalic.woff2?v=3.15) format("woff2"),
    url(/fonts/Inter-ExtraBoldItalic.woff?v=3.15) format("woff");
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(/fonts/Inter-Black.woff2?v=3.15) format("woff2"),
    url(/fonts/Inter-Black.woff?v=3.15) format("woff");
}
@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(/fonts/Inter-BlackItalic.woff2?v=3.15) format("woff2"),
    url(/fonts/Inter-BlackItalic.woff?v=3.15) format("woff");
}
@font-face {
  font-family: Inter var;
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url(/fonts/Inter-roman.var.woff2?v=3.15) format("woff2");
}
@font-face {
  font-family: Inter var;
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: "Italic";
  src: url(/fonts/Inter-italic.var.woff2?v=3.15) format("woff2");
}
@font-face {
  font-family: Inter var experimental;
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0 10deg;
  src: url(/fonts/Inter.var.woff2?v=3.15) format("woff2");
}
*,
:after,
:before {
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 62.5%;
  background: #f4f8fb;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: #575d6e;
  font-family: Inter, sans-serif;
  font-size: 2.2rem;
  line-height: 1.55;
  font-weight: 400;
  font-style: normal;
  background: #fff;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@supports (font-variation-settings: normal) {
  body {
    font-family: Inter var, sans-serif;
  }
}
@media (max-width: 500px) {
  body {
    font-size: 1.8rem;
  }
}
::-moz-selection {
  text-shadow: none;
  background: #cbeafb;
}
::selection {
  text-shadow: none;
  background: #cbeafb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #000;
  line-height: 1.15em;
  font-weight: 600;
}
h1 {
  font-size: 4.6rem;
  letter-spacing: -0.015em;
  font-weight: 700;
}
@media (max-width: 500px) {
  h1 {
    font-size: 2.7rem;
  }
}
h2 {
  font-size: 4rem;
  letter-spacing: -0.015em;
  font-weight: 700;
}
@media (max-width: 500px) {
  h2 {
    font-size: 2.7rem;
  }
}
h3 {
  font-size: 3.2rem;
  letter-spacing: -0.015em;
  font-weight: 700;
}
@media (max-width: 500px) {
  h3 {
    font-size: 2.2rem;
  }
}
h4 {
  font-size: 2.5rem;
}
@media (max-width: 500px) {
  h4 {
    font-size: 2rem;
  }
}
h5 {
  font-size: 2.4rem;
}
h6 {
  font-size: 2.2rem;
}
a:not([class]) {
  color: undefined;
  text-decoration: none;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
  background-color: transparent;
}
a:not([class]):hover {
  text-decoration: underline;
}
a[class] {
  color: inherit;
  text-decoration: none;
}
a:active,
a:focus,
a:hover,
button:active,
button:focus,
button:hover {
  outline: 0;
}
blockquote,
dl,
ol,
p,
ul {
  margin: 0 0 1.5em;
}
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}
label {
  display: block;
  font-size: 0.9em;
  font-weight: 700;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  color: inherit;
  font: inherit;
  -webkit-appearance: none;
}
button {
  border: none;
  background: 0 0;
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
}
input:focus {
  outline: none;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type="range"] {
  width: 100%;
  background: 0 0;
  -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-ms-track {
  width: 100%;
  border-color: transparent;
  color: transparent;
  background: 0 0;
  cursor: pointer;
}
textarea {
  overflow: auto;
  resize: vertical;
}
.hidden {
  display: none !important;
}

/* Hero Section */
.hero .inner {
  padding: 9.4vmin 11vmin 0;
  text-align: center;
  position: relative;
  z-index: 10;
}
.hero:first-of-type .inner {
  padding-top: 5vmin;
}
.hero-pretitle {
  color: #0167ce;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.145em;
}
.hero-icon svg {
  width: 50px;
  height: 50px;
  fill: #0167ce;
}
.hero-mainhead {
  font-size: 6rem;
  font-size: clamp(3rem, 5vw, 6rem);
  line-height: 1.15;
  max-width: 930px;
  margin: 0.31em auto 0.46em;
}
.hero-subhead {
  font-family: Space Mono, monospace, monospace;
  color: #777f99;
  font-size: 2.7rem;
  font-size: clamp(1.8rem, 3vw, 2.7rem);
  line-height: 1.45;
  max-width: 690px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}
.hero-subhead.wide {
  max-width: 780px;
}
.hero-subhead strong {
  color: #000;
}
.hero-button-group {
  margin-top: 6.6vmin;
  margin-left: -5vmin;
  margin-right: -5vmin;
}
.hero-image {
  margin-top: -2vmin;
  position: relative;
  z-index: 5;
}
.hero-image picture {
  display: block;
  width: 100%;
  height: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (max-width: 700px) {
  .hero .inner {
    padding-top: 12vmin;
    padding-bottom: 12vmin;
  }
  .hero:first-of-type .inner {
    padding-top: 10vmin;
  }
}
@media (min-width: 701px) and (max-width: 900px) {
  .hero .inner {
    padding: 8.6vmin 7vmin;
  }
}

/* Sign Up Form */
.sign-up-form {
  padding-top: 7vmin;
  padding-bottom: 7vmin;
}
.sign-up-form form {
  border: 1px solid #d6d3dd;
  border-radius: 11px;
  background-color: #fff;
  position: relative;
  max-width: 656px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 6px;
}
.sign-up-form form:focus-within {
  border-color: #0167ce;
}
.sign-up-form form input[type="email"] {
  background-color: transparent;
  display: block;
  width: 100%;
  border: 0;
  padding-left: 0.8em;
  padding-right: 0.8em;
  flex-grow: 2;
  color: #000;
}
.sign-up-form form button {
  margin: 0;
  padding: 0;
  flex-shrink: 0;
}
.button span {
  border-radius: 7px;
}
.sign-up-form p {
  font-size: 1.8rem;
  color: #535353;
  margin-top: 1em;
  margin-bottom: 0;
}
@media (max-width: 600px) {
  .sign-up-form form {
    flex-wrap: wrap;
  }
  .sign-up-form form input[type="email"] {
    width: 100%;
    line-height: 2;
    padding-bottom: 0.3em;
    padding-left: 0.2em;
    padding-right: 0.2em;
  }
  .sign-up-form form button {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .sign-up-form p {
    font-size: 1.5rem;
  }
}

/* Button Styles */
.button {
  display: inline-block;
  outline: none;
  color: #738a94;
  text-decoration: none !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: none;
  -webkit-font-smoothing: subpixel-antialiased;
}
.button span {
  display: block;
  padding: 0 2em;
  height: 2.8em;
  font-size: 1.6rem;
  line-height: 2.8em;
  font-weight: 500;
  text-align: center;
}
.button.disabled,
.button[disabled],
fieldset[disabled] .button {
  box-shadow: none;
  opacity: 0.8;
  cursor: not-allowed;
  pointer-events: none;
}
@media (max-width: 900px) {
  .button span {
    padding: 0 2em;
    height: 2.4em;
    font-size: 1.5rem;
    line-height: 2.4em;
  }
}
.button-blue {
  border: 0;
  transition: none !important;
}
.button-blue span {
  background: #0167ce;
  color: #fff;
}
.button-blue:active span,
.button-blue:focus span {
  background: #074d93;
}
.button-block {
  display: block;
  width: 100%;
}
.button-icon span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-icon svg {
  margin-right: 10px;
  height: 15px;
}
.button-link {
  border-color: transparent;
}
.button-link span {
  padding-right: 0;
  padding-left: 0;
  color: #000;
  height: 2em;
  line-height: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.22);
}
.button-link:active span,
.button-link:focus span {
  border-color: rgba(0, 0, 0, 0.5);
}
.button.button-lg span {
  font-size: 2rem;
}
.button-link.button-lg span {
  font-size: 1.8rem;
}
@media (max-width: 900px) {
  .button.button-lg span {
    font-size: 1.8rem;
  }
  .button-link.button-lg span {
    font-size: 1.6rem;
  }
}

.own-your-data {
  padding: 9.4vmin 11vmin 7.4vmin;
  background-color: #f5f4f8;
}
.own-your-data .inner {
  width: 100%;
  max-width: 856px;
  margin-left: auto;
  margin-right: auto;
}
.own-your-data .text {
  width: 100%;
  max-width: 740px;
  margin-top: 1.1em;
}
@media (max-width: 900px) {
  .own-your-data {
    padding: 9.4vmin 7vmin 7.4vmin;
  }
}


.platforms-feed {
    margin-top: 5vmin;
    display: grid;
    grid-column-gap: 4vmin;
    grid-row-gap: 4vmin;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: 881px) and (max-width: 1400px) {
    .platforms-feed {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media (min-width: 1401px) {
    .platforms-feed {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  .platform-box {
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.03),
      0 20px 30px -25px rgba(0, 0, 0, 0.05);
    padding: 1.2em 1.3em 1.4em;
  }
  .platform-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .platform-icon {
    width: 38px;
    height: 38px;
    margin-right: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  .platform-icon img {
    max-width: 38px;
    max-height: 38px;
  }
  .platform-title {
    margin-right: auto;
    font-size: 2.4rem;
  }
  .platform-data {
    display: flex;
    align-items: center;
    color: #62c824;
    font-size: 1.6rem;
    padding-left: 20px;
  }
  .platform-data svg {
    display: block;
    width: 20px;
    height: 20px;
    fill: #76e333;
    margin-left: 10px;
  }
  .platform-info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
  }
  .platform-info-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    flex-shrink: 0;
    padding-right: 1em;
  }
  .platform-info-left ul li {
    line-height: 1.45;
  }
  .platform-info-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    flex-shrink: 0;
  }
  .platform-info-group {
    font-size: 1.5rem;
    margin-bottom: 1em;
  }
  .platform-info-group + .platform-info-group {
    margin-top: auto;
  }
  .platform-info-group p {
    margin: 0;
    font-size: 1.3rem;
    line-height: 1.65;
  }
  .platform-info-group ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .platform-info-group li {
    margin: 0;
    font-weight: 600;
    line-height: 1.65;
    color: #000;
  }
  .platform-info-group del {
    color: #c4c4c4;
  }
  .platform-description {
    border-top: 1px solid rgba(0, 0, 0, 0.06);
    margin-top: 0.8em;
    padding-top: 1.6em;
    font-size: 1.4rem;
    line-height: 1.35;
  }
  .platform-description p:last-child {
    margin-bottom: 0;
  }
  .platform-box-closed .platform-header {
    opacity: 0.4;
  }
  .platforms {
    padding: 8vmin 11vmin 9.4vmin;
    background-color: #f5f4f8;
  }
  .platform-group:nth-child(n + 2) {
    margin-top: 11.5vmin;
  }
  .platform-group .header {
    max-width: 866px;
    margin-left: auto;
    margin-right: auto;
  }
  .platform-group .header p {
    max-width: 766px;
    margin-top: 0.35em;
  }
  @media (max-width: 600px) {
    .platform-info {
      flex-direction: column;
    }
    .platform-info-left,
    .platform-info-right {
      width: auto;
    }
    .platform-info-left {
      padding-right: 0;
    }
    .platform-icon {
      margin-right: 10px;
    }
    .platform-title {
      font-size: 1.8rem;
    }
  }
  @media (max-width: 900px) {
    .platforms {
      padding: 8vmin 7vmin 7.4vmin;
    }
  }